<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>University Registrar</title>
  </head>
  <body>
    <div class="container">
        <div class="row logoRow">
            <a href="/"><img id="logo" src="/img/logo.png" alt="" /></a>
        </div>
        <h1>University Registrar</h1>
        <a href='/students'><h3>View all students</h3></a>
        <a href='/courses'><h3>View all courses</h3></a>

    </div>
  </body>
</html>
